/*
 * CUSTOM.CSS
 *
 */

/* Classes for customization of logo image and text
 * See tpls/commons/common.header_nav_pages.tpl
 */
body {
    background: rgb(241, 241, 241);
}

.logo-img {
    max-height: 64px;
}
.logo-name {

}

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 870px;
    }
}

.search-nav  { padding: 7px; }
.search-nav  input { border: 1px solid #fff; border-radius: 0px;box-shadow: none;}

@media (min-width: 1200px) {
    .container {
        width: 1030px; /* 1000px - container + 30px */
    }
}

.search-nav  { padding: 7px; }
.search-nav  input { border: 1px solid #fff; border-radius: 0px;box-shadow: none;}

.btn-nav { background-color: rgb(143, 180, 187); padding: 10px; }
.btn-nav:hover{ background-color: rgb(101, 149, 163); }
.btn-nav i { color: #fff; }

.toolbar .toolbar-menu-popover > a {
  border: 0px!important;
}
.toolbar div.toolbar-button > a {
  height: 37px;
  width: 37px;
  background: rgb(143, 180, 187);
  margin-right: 4px;
  border: 0px;
  vertical-align: bottom;
  color: #fff;
  padding: 6px 0 0 0;
  display: block;
  background-image: none;
  filter: none;
}

.toolbar div.toolbar-button > a:last-child, 
.toolbar div.toolbar-button > a.last {
  border-bottom: 0px;
}

.toolbar div.toolbar-button > a { background-color: rgb(143, 180, 187); }
.toolbar div.toolbar-button > a:hover,
.toolbar div.toolbar-button > a.active {
  background-color: rgb(101, 149, 163); 
  background-image: none;
  background-repeat: none;
  filter: none;
  color: #fff;
}

.menu-level-2-container {
  margin-top: -10px;
  height: 55px;
}

.menu-level-2 li.active a {
  color: rgb(115, 155, 163);
}

.menu-level-3-container {
  background-color: rgb(143, 180, 187);
  border-bottom: 0px;
}

.menu-level-3 li:before {
  color: #fff;
}

.menu-level-3 li a {
  color: #fff;
}

.panel {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.content .raised:after {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;

}
