/*
 * CUSTOM.CSS
 *
 */

/* Classes for customization of logo image and text
 * See tpls/commons/common.header_nav_pages.tpl
 */
body {
    background: rgb(241, 241, 241);
}

.content {
  margin-top: 30px;
}

.logo-img {
    max-height: 64px;
}
.logo-name {

}

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 870px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1130px; /* 1100px - container + 30px */
    }
}

.search-nav  { padding: 7px; }
.search-nav  input { border: 1px solid #fff; border-radius: 0px;box-shadow: none;}

.btn-nav { background-color: rgb(143, 180, 187); padding: 10px; }
.btn-nav:hover{ background-color: rgb(101, 149, 163); }
.btn-nav i { color: #fff; }

.toolbar .toolbar-menu-popover > a {
  border: 0px!important;
}
.toolbar div.toolbar-button > a {
  height: 37px;
  width: 37px;
  background: rgb(143, 180, 187);
  margin-right: 4px;
  border: 0px;
  vertical-align: bottom;
  color: #fff;
  padding: 6px 0 0 0;
  display: block;
  background-image: none;
  filter: none;
}

.toolbar div.toolbar-button > a:last-child, 
.toolbar div.toolbar-button > a.last {
  border-bottom: 0px;
}

.toolbar div.toolbar-button > a { background-color: rgb(143, 180, 187); }
.toolbar div.toolbar-button > a:hover,
.toolbar div.toolbar-button > a.active {
  background-color: rgb(101, 149, 163); 
  background-image: none;
  background-repeat: none;
  filter: none;
  color: #fff;
}

.menu-level-2 {
  height: 55px;
}

.menu-level-2 li.menu-level-2-logo {
  line-height: 55px;
  margin-right: 25px;
}

.menu-level-2-container {
  margin-top: -10px;
  height: 55px;
}

.menu-level-2 li.active a {
  color: rgb(115, 155, 163);
}

.menu-level-2 li a {
  height: 55px;
  line-height: 62px;
}

.menu-level-2 li a i {
  margin-right: 15px;
  margin-left: -5px;
}

.menu-level-3-container {
  background-color: rgb(143, 180, 187);
  border-bottom: 0px;
}

.menu-level-3 li:before {
  color: #fff;
}

.menu-level-3 li a {
  color: #fff;
}

.panel {
  border: 1px solid;
  border-color: #E2E2E2;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.panel-no-user { 
  border-top: none;    
  border-bottom: 1px solid rgb(226, 226, 226);
  border-right: 1px solid rgb(226, 226, 226);
  border-left: 1px solid rgb(226, 226, 226);
  box-shadow: none;
}

.content .raised:after {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;

}

/* ------ TABLE ------ */

.table-in {
  margin-bottom: 0px;
}

/* ------ INDEX PANEL ------ */

.index-panel {}

.td-hover { border-bottom: 2px solid #F7F7F7; }
.td-hover a { color: #647788;text-transform: uppercase;text-decoration: none; }
.td-hover:hover { margin-bottom: 0px;border-bottom: 2px solid; border-bottom-color: #DADADA; }
.td-hover a:hover { color: #000!important; }
.td-hover.active { background-color: #F7F7F7!important; border-bottom: 2px solid; border-bottom-color: rgb(143, 180, 187); }
.td-hover.active a { color: #000!important; }
.td-hover li a { color: #222; border-left: none; }
.td-hover i { color: #B2B2B2; }
.td-hover-button { margin: 0px; padding: 0px; background-color: #F7F7F7;left: 8px; }
.td-hover-fm { padding: 12px 20px 12px;border-top: none; }
.td-hover-fm i { padding-right: 7px;color: #B2B2B2;font-size: 14px; }
.td-hover-fm strong { left: auto;margin-left: 5px; }
.td-hover-td { padding: 0px!important;; border-top: none; }
.td-hover-av { position: relative;float: left; padding: 15px 25px; }
.td-hover-av img { border-radius: 50%; }
.td-hover-un { padding: 26px 26px 0px 35px; }
.td-hover-desc { line-height: 30px; }
.td-hover-desc a { color: #d1d1d1; }
.td-hover-desc a i { color: #afafaf; font-size: 11px; margin-left: 7px; }
